<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:redisson="http://redisson.org/schema/redisson"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.1.xsd http://redisson.org/schema/redisson http://redisson.org/schema/redisson/redisson.xsd"
       default-lazy-init="true">
    <!-- 引入redis.properties配置文件-->
    <context:property-placeholder location="classpath:redis.properties" ignore-unresolvable="true"/>
    <!--poolconfig是对连接池的配置。包括最大连接数，队列数，存活时间，最大等待时间等等,JedisPoolConfig类源码，进行查看。-->
    <!-- 单个redis配置 -->
    <!-- redis连接池的配置 -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大空闲连接数, 默认8个-->
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <!--最大连接数-->
        <property name="maxTotal" value="${redis.maxTotal}"/>
        <!--获取连接时的最大等待毫秒数(如果设置为阻塞时BlockWhenExhausted),如果超时就抛异常, 小于零:阻塞不确定的时间,  默认-1-->
        <property name="MaxWaitMillis" value="${redis.MaxWaitMillis}"/>
        <!--最小空闲连接数, 默认0-->
        <property name="minIdle" value="${redis.minIdle}"/>
        <!--在获取连接的时候检查有效性, 默认false-->
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>

    <!--连接工厂，顾名思义，最基本的使用一定是对连接的打开和关闭。我们需要为其配置redis服务器的账户密码，端口号。（这里还可以配置数据库的index，但是我使用时候一直使用redis的默认数据库，也就是第0个）-->
    <!--spring-data-redis配置方式-->
    <!--<bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"-->
          <!--p:host-name="${redis.host}" p:port="${redis.port}" p:password="${redis.password}"-->
          <!--p:pool-config-ref="poolConfig"/>-->

    <!--Redis集群配置,可配置多个Redis节点,即set标签下配置多个bean-->
    <bean id="redisClusterConfig" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <property name="maxRedirects" value="3"></property>
        <property name="clusterNodes">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis1.host}"></constructor-arg>
                    <constructor-arg name="port" value="${redis1.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis2.host}"></constructor-arg>
                    <constructor-arg name="port" value="${redis2.port}"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis3.host}"></constructor-arg>
                    <constructor-arg name="port" value="${redis3.port}"></constructor-arg>
                </bean>
            </set>
        </property>
    </bean>

    <!--连接工厂-->
    <!--集群方式-->
    <bean id="connectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg name="clusterConfig" ref="redisClusterConfig" />
        <property name="timeout" value="3000" />
        <property name="poolConfig" ref="poolConfig"/>
    </bean>

    <!--类似于spring提供的HibernateDaoSupport RedisTemplate这个类作为一个模版类，提供了很多快速使用redis的api，而不需要自己来维护连接，事务。-->
    <!--  SDR默认采用的序列化策略有两种，一种是String的序列化策略，一种是JDK的序列化策略。
       StringRedisTemplate默认采用的是String的序列化策略，保存的key和value都是采用此策略序列化保存的。
       RedisTemplate默认采用的是JDK的序列化策略，保存的key和value都是采用此策略序列化保存的。
       就是因为序列化策略的不同，即使是同一个key用不同的Template去序列化，结果是不同的。所以根据key去删除数据的时候就出现了删除失败的问题。
    -->
    <!-- redis 序列化策略 ，通常情况下key值采用String序列化策略， -->
    <!-- 如果不指定序列化策略，StringRedisTemplate的key和value都将采用String序列化策略； -->
    <!-- 但是RedisTemplate的key和value都将采用JDK序列化 这样就会出现采用不同template保存的数据不能用同一个template删除的问题 -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <!-- 序列化方式 建议key/hashKey采用StringRedisSerializer。 -->
        <property name="keySerializer">
            <bean
                    class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="hashKeySerializer">
            <bean
                    class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="valueSerializer">
            <bean
                    class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
        </property>
        <property name="hashValueSerializer">
            <bean
                    class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
        </property>
    </bean>

    <!-- ================== redisson 集群配置 =================== -->
    <bean id="stringCodec" class="org.redisson.client.codec.StringCodec"></bean>
    <redisson:client id="redissonClient" codec-ref="stringCodec" >
        <!--scan-interval:集群状态扫描间隔时间，单位是毫秒-->
        <!--idle-connection-timeout:当前连接数量大于最小空闲连接池大小，然后它将关闭并从池中移除，缺省:10000 -->
        <!--client-name：客户端连接名称,可以使用应用名-->
        <!--connect-timeout:连接超时时长，默认10000毫秒-->
        <!--read-mode：读模式(从哪个节点读)，只有三个可选项 MASTER_SLAVE ，MASTER ，SLAVE-->
        <redisson:cluster-servers client-name="cpa"
                                  connect-timeout="5000"
                                  master-connection-minimum-idle-size="10"
                                  password=""
                                  scan-interval="1000"
                                  read-mode="MASTER_SLAVE"
                                  idle-connection-timeout="10000"
                                  master-connection-pool-size="64">

            <redisson:node-address value="redis://192.168.109.3:6379" />
            <redisson:node-address value="redis://192.168.109.3:6380" />
            <redisson:node-address value="redis://192.168.109.3:6381" />

        </redisson:cluster-servers>
</redisson:client>


</beans>